<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Formulario de Creación de Partidos</title>
  <style>
    /* Estilo personalizado para los elementos option */
    .form-control option {
        background-color: #f8f9fa; /* Fondo gris suave */
        border-radius: 5px; /* Esquinas redondeadas */
        padding: 8px; /* Espaciado interno */
    }
</style>
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Crear Nuevo Partido</h2>
      <form th:action="@{~/partido/save}" method="post" th:object="${partidoNuevo}">
        <div class="form-group">
          <label for="id" hidden>ID</label>
          <input type="text" class="form-control" id="id" placeholder="ID" required th:field="*{id}" readonly hidden>
          <label for="nombreEquipo">Resultado del partido:</label>
          <input type="text" class="form-control" id="nombreEquipo" placeholder="Ingrese el resultado" required th:field="*{resultado}">
        </div>
      
      <div class="form-group">
          <label for="pista">Pista:</label>
          <select class="form-control rounded bg-light" id="pista" th:field="*{pista}" required>
              <option value="Sara Roces">Sara Roces</option>
              <option value="Marta Piquero">Marta Piquero</option>
          </select>
      </div>
      
      <div class="form-group">
          <label for="categoria">Categoria:</label>
          <select class="form-control rounded bg-light" id="categoria" th:field="*{categoria}" required>
              <option th:each="categoriaItem : ${categorias}" th:value="${categoriaItem.id}" th:text="${categoriaItem.nombre}"></option>
          </select>
      </div>
      
        </div>     

        <input type="submit" class="btn btn-primary" value="Añadir Equipo">
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
