<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos y Atributos</title>
    <!-- Agrega la referencia a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-start mb-4">Lista de uniones entre Partidos y equipos</h2>
        <div th:if="${#lists.isEmpty(juegas)}">
            <h3>La tabla está vacía</h3>
            <a class="btn btn-primary float-right m-2" th:href="@{~/equipo/add}" th:if="${#lists.isEmpty(juegas)}">Añadir Juega</a>
        </div>
        <table class="table table-striped table-hover" th:if="${not#lists.isEmpty(juegas)}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Equipo</th>
                    <th>ID Partido</th>
                    <th>Fecha</th>
                    <th>Ver</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="juega:${juegas}">
                    <td th:text="${juega.id}">1</td>
                    <td th:text="${juega.equipo?.nombre}">Equipo 1</td>
                    <td th:text="${juega.partido?.id}">Equipo 1</td>
                    <td th:text="${juega.fecha}">equipo1@email.com</td>
                    <td><a class="circular-button edit-button text-decoration-none" title="Edita" th:href="@{~/juega/{id}(id=${juega.id})}">👁️</a></td>
                    <td><a class="circular-button delete-button text-decoration-none" title="Eliminar" th:href="@{~/juega/del/{id}(id = ${juega.id})}">❌</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
