<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Formulario de Creación de Equipos</title>
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Formulario de Equipo</h2>
      <form th:action="@{~/equipo/save}" method="post" th:object="${equipoNuevo}">
        <div class="form-group">
          <label for="id" hidden>ID</label>
          <input type="text" class="form-control" id="id" placeholder="ID" required th:field="*{id}" readonly hidden>

          <label for="nombreEquipo">Nombre del Equipo:</label>
          <input type="text" class="form-control" id="nombreEquipo" placeholder="Ingrese el nombre del equipo" required th:field="*{nombre}">
          <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="btn btn-danger">
              Error en el nombre del equipo
          </p>
        </div>

        <div class="form-group">
          <label for="emailContacto">Dirección de Correo Electrónico:</label>
          <input type="email" class="form-control" id="emailContacto" placeholder="Ingrese el email de contacto" required th:field="*{emailContacto}">
          <p th:if="${#fields.hasErrors('emailContacto')}" th:errors="*{emailContacto}" class="btn btn-danger">
              Error en el correo electrónico
          </p>
        </div>

        <div class="form-group">
          <label for="numeroTelefonoContacto">Número de Teléfono:</label>
          <input type="tel" class="form-control" id="numeroTelefonoContacto" placeholder="Ingrese el número de teléfono" required th:field="*{numeroTelefonoContacto}">
          <p th:if="${#fields.hasErrors('numeroTelefonoContacto')}" th:errors="*{numeroTelefonoContacto}" class="btn btn-danger">
              Error en el número de teléfono
          </p>
        </div>

        <div class="form-group" hidden>
          <label for="puntos">Puntos:</label>
          <input type="number" class="form-control" id="puntos" placeholder="Ingrese la cantidad de puntos" required th:field="*{puntos}" value="0">
          <p th:if="${#fields.hasErrors('puntos')}" th:errors="*{puntos}" class="btn btn-danger">
              Error en la cantidad de puntos
          </p>
        </div>

        <div class="form-group" hidden>
          <label for="golesFavor">Goles a Favor:</label>
          <input type="number" class="form-control" id="golesFavor" placeholder="Ingrese la cantidad de goles a favor" required th:field="*{golesFavor}" value="0">
          <p th:if="${#fields.hasErrors('golesFavor')}" th:errors="*{golesFavor}" class="btn btn-danger">
              Error en la cantidad de goles a favor
          </p>
        </div>

        <div class="form-group" hidden>
          <label for="golesContra">Goles en Contra:</label>
          <input type="number" class="form-control" id="golesContra" placeholder="Ingrese la cantidad de goles en contra" required th:field="*{golesContra}" value="0">
          <p th:if="${#fields.hasErrors('golesContra')}" th:errors="*{golesContra}" class="btn btn-danger">
              Error en la cantidad de goles en contra
          </p>
        </div>

        <div class="form-group" hidden>
          <label for="partidosGanados">Partidos Ganados:</label>
          <input type="number" class="form-control" id="partidosGanados" placeholder="Ingrese la cantidad de partidos ganados" required th:field="*{partidosGanados}" value="0">
          <p th:if="${#fields.hasErrors('partidosGanados')}" th:errors="*{partidosGanados}" class="btn btn-danger">
              Error en la cantidad de partidos ganados
          </p>
        </div>

        <div class="form-group" hidden>
          <label for="partidosPerdidos">Partidos Perdidos:</label>
          <input type="number" class="form-control" id="partidosPerdidos" placeholder="Ingrese la cantidad de partidos perdidos" required th:field="*{partidosPerdidos}" value="0">
          <p th:if="${#fields.hasErrors('partidosPerdidos')}" th:errors="*{partidosPerdidos}" class="btn btn-danger">
              Error en la cantidad de partidos perdidos
          </p>
        </div>

        <div class="form-group" hidden>
          <label for="partidosEmpatados">Partidos Empatados:</label>
          <input type="number" class="form-control" id="partidosEmpatados" placeholder="Ingrese la cantidad de partidos empatados" required th:field="*{partidosEmpatados}" value="0">
          <p th:if="${#fields.hasErrors('partidosEmpatados')}" th:errors="*{partidosEmpatados}" class="btn btn-danger">
              Error en la cantidad de partidos empatados
          </p>
        </div>

        <div class="form-group">
          <label for="categoria">Categoría:</label>
          <select class="form-control" id="categoria" th:field="*{categoria}" required>
              <option th:each="categoriaItem : ${categorias}" th:value="${categoriaItem.id}" th:text="${categoriaItem.nombre}"></option>
          </select>
          <p th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" class="btn btn-danger">
              Error en la categoría
          </p>
        </div>

        <input type="submit" class="btn btn-primary" value="Añadir Equipo">
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
