<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Equipo</title>
    <!-- Agrega la referencia a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="card">
        <div class="card-body" th:each="equipo : ${equipo}">
            <h2 class="card-title">Detalles del Equipo</h2>
            <span><strong>ID:</strong><span th:text="${equipo.id}">id</span></span><br>
            <span><strong>Nombre:</strong><span th:text="${equipo.nombre}">equipo</span></span><br>
            <span><strong>Email de Contacto:</strong><span th:text="${equipo.emailContacto}">email</span></span><br>
            <span><strong>Número de Teléfono:</strong><span th:text="${equipo.numeroTelefonoContacto}">telefono</span></span><br>
            <div class="mt-4">
                <span><a th:href="@{~/equipos}" class="btn btn-secondary">Volver</a></span>
                <span><a th:href="@{~/equipo/edit/{id}(id = ${equipo.id})}" class="btn btn-primary ml-2">Editar</a></span>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Encabezado1</th>
            <th scope="col">Encabezado2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dato1</td>
            <td>Dato2</td>
        </tr>
    </tbody>
</table>

<form>
    <div class="form-group">
        <label for="campo1">Campo 1:</label>
        <input type="text" class="form-control" id="campo1" name="campo1">
    </div>
    <div class="form-group">
        <label for="campo2">Campo 2:</label>
        <input type="text" class="form-control" id="campo2" name="campo2">
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
