<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Tarjeta con Bootstrap</title>
  <style>
    body {
        margin-top: 20px; /* Márgen superior de 20px */
        margin-bottom: 20px; /* Márgen inferior de 20px */
    }
    .container {
      text-align: center;
    }
    .card {
      width: 35%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .card-body {
      text-align: left; /* Alinea el texto a la izquierda */
    }
    .line {
      display: flex;
    }
    .table-container {
      flex: 0 0 70%;
      margin-right: 20px;
    }
    .form-container {
      flex: 1;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-body" th:each="equipo : ${equipo}">
        <h2 class="card-title text-center">Detalles del Equipo</h2>
        <span><strong>ID:</strong><span th:text="${equipo.id}">id</span></span><br>
        <span><strong>Nombre:</strong><span th:text="${equipo.nombre}">equipo</span></span><br>
        <span><strong>Email de Contacto:</strong><span th:text="${equipo.emailContacto}">email</span></span><br>
        <span><strong>Número de Teléfono:</strong><span th:text="${equipo.numeroTelefonoContacto}">telefono</span></span><br>
        <div class="mt-4 d-flex justify-content-between">
          <span><a th:href="@{~/equipos}" class="btn btn-secondary">Volver</a></span>
          <span><a th:href="@{~/equipo/edit/{id}(id = ${equipo.id})}" class="btn btn-primary ml-2" sec:authorize="hasAuthority('ADMIN')">Editar</a></span>
        </div>
      </div>
    </div>

    <div class="line">
      <div class="table-container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Local</th>
              <th>Resultado</th>
              <th>Visitante</th>
              <th>Pista</th>
              <th>Ver</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="p:${partidos}">
                <td th:text="${p.equipoLocal?.nombre}">Equipo 1</td>
                <td class="result"><span th:text="${p.golesLocal}"></span>-<span th:text="${p.golesVisitante}"></span></td>
                <td th:text="${p.equipoVisitante?.nombre}">Equipo 1</td>
                <td th:text="${p.pista}">Pista 1</td>
                <td>
                    <a class="circular-button edit-button text-decoration-none" title="Edita" th:href="@{~/partido/{idLocal}/{idVisitante}(idLocal=${p.equipoLocal.id}, idVisitante=${p.equipoVisitante.id})}">👁️</a>
                </td>
                <td>
                    <a class="circular-button delete-button text-decoration-none" th:href="@{~/partido/del/{idLocal}/{idVisitante}(idLocal=${p.equipoLocal.id}, idVisitante=${p.equipoVisitante.id})}" title="Eliminar">❌</a>
                </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="form-container">
        <form
            sec:authorize="hasAuthority('ADMIN')"
            th:action="@{~/partido/save}"
            method="post"
            th:object="${partidoNuevo}"
          >
            <div class="form-group"></div>
            <div class="form-group">
              <label for="golesLocal">Resultado del partido:</label>
              <input
                type="number"
                class="form-control"
                id="golesLocal"
                placeholder="Ingrese los goles del equipo Local"
                required
                th:field="*{golesLocal}"
              />
            </div>
            <div class="form-group">
              <label for="golesVisitante">Resultado del partido:</label>
              <input
                type="number"
                class="form-control"
                id="golesVisitante"
                placeholder="Ingrese los goles del equipo Visitante"
                required
                th:field="*{golesVisitante}"
              />
            </div>
            <div class="form-group">
              <label for="pista">Pista:</label>
              <select
                class="form-control rounded bg-light"
                id="pista"
                th:field="*{pista}"
                required
              >
                <option value="Sara Roces">Sara Roces</option>
                <option value="Marta Piquero">Marta Piquero</option>
              </select>
            </div>
            <!-- Equipo Local -->
            <div class="form-group">
              <label for="equipoLocal">Equipo Local:</label>
              <select
                class="form-control rounded bg-light"
                id="equipoLocal"
                th:field="*{equipoLocal}"
                required
              >
                <option
                  th:text="${equipo.nombre}"
                  th:value="${equipo.id}"
                ></option>
              </select>
            </div>

            <!-- Equipo Visitante -->
            <div class="form-group">
              <label for="equipoVisitante">Equipo Visitante:</label>
              <select
                class="form-control rounded bg-light"
                id="equipoVisitante"
                th:field="*{equipoVisitante}"
                required
              >
                <option
                  th:each="e : ${equipos}"
                  th:text="${e.nombre}"
                  th:value="${e.id}"
                ></option>
              </select>
            </div>

            <input
              type="submit"
              class="btn btn-primary"
              value="Añadir Partido"
            />
          </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
