<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Tarjeta del Jugador</title>
</head>
<body>
<div>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header">
            Información del Jugador
        </div>
        <div class="card-body" th:each="jugador:${jugador}">
            <span class="titulo">DNI: <span th:text="${jugador.dni}">34293782T</span></span>
            <span class="titulo">Nombre: <span th:text="${jugador.nombre}">Mario</span></span>
            <span class="titulo">Número Seguro: <span th:text="${jugador.numeroSeguro}">12345678912345678922</span></span>
            <span class="titulo">Talla Camiseta: <span th:text="${jugador.tallaCamiseta}">XL</span></span>
            <span class="titulo">Portero: <span th:text="${jugador.portero ? 'SÍ' : 'NO'}">Yes</span></span>
            <span class="titulo">Equipo: <span th:text="${jugador.equipo?.nombre}">Mis panitas</span></span>
            <span class="titulo">Categoria: <span th:text="${jugador.equipo?.categoria?.nombre}">Mis panitas</span></span>
        </div>
        <div class="card-footer" th:each="jugador:${jugador}">
            <a class="btn btn-volver" th:href="@{~/jugadores}">👈 Volver</a>
            <a class="btn btn-editar float-right" th:href="@{~/jugador/edit/{dni}(dni = ${jugador.dni})}">✏️ Editar</a>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
