<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de categorias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-start mb-4">Lista de Partidos
            <a class="btn btn-primary float-right m-2" th:href="@{~/partido/add}" th:if="${not #lists.isEmpty(partidos)}">Añadir Partido</a>
        </h2>
        <div th:if="${#lists.isEmpty(partidos)}">
            <h3>La tabla de Partidos esta vacia, Añada usted el primer partido</h3>
            <a class="btn btn-primary float-right m-2">Añadir Partido</a>
        </div >
        <table th:if="${not #lists.isEmpty(partidos)}" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Resultado</th>
                    <th>Pista</th>
                    <th>Categoria</th>
                    <th>Ver</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p:${partidos}">
                    <td th:text="${p.id}">1</td>
                    <td th:text="${p.resultado}">Equipo 1</td>
                    <td th:text="${p.pista}">Pista 1</td>
                    <td th:text="${p.categoria.nombre}">Mini</td>
                    <td><a class="circular-button edit-button text-decoration-none" title="Edita" th:href="@{~/partido/{id}(id=${p.id})}">👁️</a></td>
                    <td><a class="circular-button delete-button text-decoration-none" th:href="@{~/partido/del/{id}(id=${p.id})}" title="Eliminar">❌</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
